/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}

#list1 .form-control {
    border-color: transparent;
  }
#list1 .form-control:focus {
    border-color: transparent;
    box-shadow: none;
  }
#list1 .select-input.form-control[readonly]:not([disabled]) {
    background-color: #fbfbfb;
  }

  @font-face{
    font-family: trial;
    src: url('Quicksand-Regular.otf');
        }

*{font-family:trial;}

/* Dotted border */
hr.dotted {
  border-top: 3px dotted #bbb;
}

.list-group-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.view-journal{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.center-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #537fbe !important;
}